.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-detail__poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.movie-detail__info {
  max-width: 800px;
  text-align: left;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.movie-detail__info h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.movie-detail__info p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.movie-detail__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  font-size: 1.5rem;
}

.star.full {
  color: gold;
}

.star.empty {
  color: #ccc;
}

.movie-detail__trailer {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.movie-detail__trailer h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}
